<%= form_with(model: @bookmark, local: true, data: { controller: "nostr-sign" }) do |form| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
        <% @bookmark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br />
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :url %><br />
    <%= form.text_field :url, required: true %>
  </div>

  <div>
    <%= form.label :description %><br />
    <%= form.text_area :description %>
    <small class="form-text text-muted">You can add hashtags using #tag format to categorize this bookmark.</small>
  </div>

  <div>
    <%= form.submit "Create NIP-B0 Web Bookmark" %>
  </div>
<% end %>

<%= link_to 'Back', bookmarks_path %>