<h1>Bookmarks</h1>

<div class="mb-4">
  <%= link_to 'New Bookmark', new_bookmark_path, class: 'btn btn-primary' %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.title %></td>
        <td><%= link_to bookmark.url, bookmark.url, target: '_blank' %></td>
        <td><%= bookmark.description %></td>
        <td>
          <div class="action-links">
            <%= link_to 'Show', bookmark, class: 'action-link-show' %>
            <%= link_to 'Edit', edit_bookmark_path(bookmark), class: 'action-link-edit' %>
            <%= link_to 'Delete', bookmark, method: :delete, 
                        data: { confirm: 'Are you sure you want to delete this bookmark?' }, 
                        class: 'action-link-destroy' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @bookmarks.empty? %>
  <div class="text-center mt-4">
    <p>No bookmarks yet. <%= link_to 'Create your first bookmark!', new_bookmark_path, class: 'btn btn-primary' %></p>
  </div>
<% end %>
