<h1><%= @bookmark.title %></h1>

<p>
  <strong>URL:</strong>
  <%= link_to @bookmark.url, @bookmark.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bookmark.description %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
